doctype
html(lang="en")
  head
    title Redux FancyLogMonitor examples/simple
    for href in css
      link(rel="stylesheet", href=href)
  body
    div#mount
    for src in js
      script(src=src)
